DATABASE_URL_CLOUD="Host=db.example.com;Port=5432;Database=hotel;Username=me;Password=secret;Ssl Mode=Require;Trust Server Certificate=True"
DATABASE_URL_LOCAL="localhost;Port=5432;Database=hotel_db;Username=me;Password=secret;Ssl Mode=Disable"